#* text=auto

#*.md        merge=text               eol=lf
*.md         merge=text   diff=text   -eol
*.mk         merge=text   diff=text   -eol
Makefile     merge=text   diff=text   -eol

*.bsl        merge=text   diff=text   eol=lf
*.xml        merge=text   diff=text   eol=lf

*.jpg        binary
*.png        binary
*.gif        binary

#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
